<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Platnova</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="container">
  <div class="contentSec">
    <div class="logo">
        <img src="download.png" alt="logo">
        <h1>Platnova</h1>
    </div>
    <div class="contentText">
        <h1>Welcome</h1>
        <p>Seamlessly send and recieve money across the globe</p>
    </div>
    <div class="buttonSec">
        <a href="/register"><button>Create a free account</button></a>
        <div class="HomesignIn">
            Already have an account?<p><a href="/login">Sign in</a>
        </div>
    </div>
  </div>
</div>                   
</body>
</html>