<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="regSec">
        <div class="contentSec">
            <h1>Confirm Your Account </h1>
            <p>Enter your confirmation pin and Login Pin to continue</p>
        </div>
        <div class="formSec">
            <form class="otpForm" method="POST">
                <label for="otp">OTP Pin</label>
                <input id="otp" type="number" name="otp"  placeholder="confirmation pin" required>
                <label class="label" for="pin">PIN</label>
                <input id="pin" type="password" name="pin" placeholder="********" required>

                <button type="submit" name="send" >Confirm Your Account</button>
            </form>
            <div class="signIn">
                go back to Login<p><a href="/login">Sign up</a>
            </div>
        </div>
    </div>
    <script src="/js/app.otp.js"></script>
</body>
</html>