@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body {
 background: #f2f1f1; 
}

.container {
    height: 100%;
    width: 100%;
    padding: 5em 1.1em 0;
}

.title {
    text-align: center;
    padding-bottom: 5em;
}
.title h1 {
    font-size: 1.6em;
    font-weight: 600;
    color: #353535;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3em;
}

form input {
    width: 2em;
    height: 2em;
    outline: none;
    border: 3px solid #c8c6c6;
    border-radius: 50%; 
    font-weight: 900;
    text-align: center;
}
form input:focus-within {
    border: 3px solid #7049F7;
}

.input {
    padding-bottom: 1em;
}

#dial-pad {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    gap: 1.6em;
    margin-top: 20px;
    padding-bottom: 6em;
}
.dial-button {
    font-size: 2em;
    font-weight: 500;
}

.delete-button {
    
}
.byeMessage h1 {
    text-align: center;
    font-size: 1.2em;
    font-weight: 600;
    color: #7049F7;
}